venv/
output/
BulkTranslationChecker/output/
dist/
build/
*.egg-info
BulkTranslationChecker.pyc
*.pyc
CommcareTranslationChecker/bulkTranslationChecker_Output/
CommcareTranslationChecker/commcareTranslationChecker_Output/
CommcareTranslationChecker/LALAOUTPUT/
commcareTranslationChecker_Output
*.xlsx
*.zip
examples/*.txt
